<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<html>
<div class="navbar">
  <div style="overflow-x:auto; width:90%; position:center; margin-left:5%" >
     <table>
        <tr>
          <th>Date</th>
          <th>Temp High (F)</th>
          <th>Temp Low (F)</th>
          <th>Wind Speed (mph)</th>
          <th>Precipitation (in)</th>
          <th>Predicted Rounds</th>
          <th>Golfability</th>
       {% for date, temp_high, temp_low, humid, wind, prec, dow, doy, vis, dew, sea, date_for_table, vis_avg, dew_avg, sea_avg, temp_high_sqrt, hum_avg_sqrt, prec_sqrt, year, month, rain, cum_prec, p_weather_diff, pred, crowd_term, golfability in tenday_fc %}
       {% if golfability >= 9.0 %}
        <tr style="background-color: #3cb201">
          <td style="text-align: left">{{date_for_table}}</td>
          <td>{{temp_high}}</td>
          <td>{{temp_low}}</td>
          <td>{{wind}}</td>
          <td>{{prec}}</td>
          <td>{{pred}}</td>
          <td>Perfect Day!</td>
       {% elif golfability >= 7.0 and golfability < 9.0 %}
       <tr style="background-color: #008000">
         <td style="text-align: left">{{date_for_table}}</td>
         <td>{{temp_high}}</td>
         <td>{{temp_low}}</td>
         <td>{{wind}}</td>
         <td>{{prec}}</td>
         <td>{{pred}}</td>
         <td>Great Day</td>
       {% elif golfability >= 6.0 and golfability < 7.0 %}
       <tr>
         <td style="text-align: left">{{date_for_table}}</td>
         <td>{{temp_high}}</td>
         <td>{{temp_low}}</td>
         <td>{{wind}}</td>
         <td>{{prec}}</td>
         <td>{{pred}}</td>
         <td>Good Day</td>
       {% elif golfability < 6.0 %}
       <tr style="background-color: #000">
         <td style="text-align: left">{{date_for_table}}</td>
         <td>{{temp_high}}</td>
         <td>{{temp_low}}</td>
         <td>{{wind}}</td>
         <td>{{prec}}</td>
         <td>{{pred}}</td>
         <td>Bad Day</td>
       {% endif %}
        {% endfor %}
      </table>
  </div>
</div>
</html>
{% endblock %}