<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<html>
<!-- <h1>Diablo Country Club <img src='https://www.diablocc.org/assets/diablocc/Media/web_logo_2015.png' style="float:right" width=100px height=100px></img></h1>
<div>
  <form action="/model/" method="post">
    <button name="model" type="submit">Get Prediction</button>
  </form>
</div>
<hr> -->
<div>
  <div>
     <table style="width:90%;background-color:#f1f1c1;text-align:left;padding:15px;border: 1px solid black; border-collapse: collapse;">
        <tr>
          <th>Date</th>
          <th>Temp High (F)</th>
          <th>Temp Low (F)</th>
          <th>Humidity (%)</th>
          <th>Wind Speed (mph)</th>
          <th>Precipitation (in)</th>
          <th>Visibility (mi)</th>
          <th>Dewpoint (F)</th>
          <th>Pressure (in hg)</th>
          <th>Predicted Rounds</th>
          <th>Golf Index</th>
       {% for date, temp_high, temp_low, humid, wind, prec, dow, doy, vis, dew, sea, date_for_table, vis_avg, dew_avg, sea_avg, temp_high_sqrt, hum_avg_sqrt, prec_sqrt, year, month, rain, cum_prec, rain_db4, label, pred, golf_index in tenday_fc %}
        <tr>
          <td style="text-align: left">{{date_for_table}}</td>
          <td>{{temp_high}}</td>
          <td>{{temp_low}}</td>
          <td>{{humid}}</td>
          <td>{{wind}}</td>
          <td>{{prec}}</td>
          <td>{{vis_avg}}</td>
          <td>{{dew_avg}}</td>
          <td>{{sea_avg}}</td>
          <td>{{pred}}</td>
          <td>{{golf_index}}</td>
        {% endfor %}
      </table>
  </div>
</div>
</html>
{% endblock %}